.lobby-form {
    // special fade-out animation
    &.in {
        visibility: visible;
    }
    &.out {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
        -webkit-transition: opacity 250ms linear,
                    -webkit-transform 250ms linear,
                    visibility 0 linear 250ms;
        transition: opacity 250ms linear,
                    transform 250ms linear,
                    visibility 0 linear 250ms; // transition all properties, including our transform
        visibility: hidden;
    }
}