// tiles in the lobby

.lobby-tile {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    max-width: 300px;
    padding: 20px;

    // center it for now
    margin: 0 auto;
}

.lobby-tile-title {
    display: block;
    font-size: 30px;
    text-align: center;
}

.lobby-tile-icon {
    color: #777;
    display: block;
    font-size: 144px;
    line-height: 1.2;
    text-align: center;
}