// tiles (currently used in the lobby)

.tile {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    height: 360px;
    max-width: 300px;
    overflow hidden;
    padding: 20px;

    // handy when we want to focus on just one tile
    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

.tile-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 5px;
    text-align: center;
}

.tile-icon {
    color: #777;
    display: block;
    font-size: 144px;
    line-height: 1.2;
    text-align: center;
}

.tile-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.tile-list-item {
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    line-height: 1.3;
}
