@charset "UTF-8";
@font-face {
  font-family: 'Ultra';
  src: url("../fonts/Ultra.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rookicons';
  src: url("../fonts/Rookicons.eot");
  src: url("../fonts/Rookicons.eot?#iefix") format('embedded-opentype'), url("../fonts/Rookicons.woff") format('woff'), url("../fonts/Rookicons.ttf") format('truetype'), url("../fonts/Rookicons.svg#Rookicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
.rookicon {
  font-family: 'Rookicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dice:before {
  content: "\e600";
}
body {
  background: #eee;
}
.notification-area {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.notification-area .alert {
  margin: 40px auto 0;
  max-width: 800px;
}
.tile {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  max-width: 300px;
  padding: 20px;
}
.tile.centered {
  margin-left: auto;
  margin-right: auto;
}
.tile-title {
  display: block;
  font-size: 30px;
  text-align: center;
}
.tile-icon {
  color: #777;
  display: block;
  font-size: 144px;
  line-height: 1.2;
  text-align: center;
}
.rook-card {
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
  box-sizing: border-box;
  display: inline-block;
  font: small-caps 18px Ultra, serif;
  height: 240px;
  padding: 60px 30px;
  position: relative;
  user-select: none;
  width: 180px;
}
.rook-card:before,
.rook-card:after {
  content: attr(data-card-face) " " attr(data-card-suit);
  position: absolute;
}
.rook-card:before {
  left: 5px;
  top: 5px;
}
.rook-card:after {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}
.rook-card.red {
  color: #e33;
}
.rook-card.green {
  color: #1c7;
}
.rook-card.yellow {
  color: #ec0;
}
.rook-card.black {
  color: #111;
}
.rook-card-inner {
  border: 1px solid;
  display: block;
  font-size: 82px;
  line-height: 120px;
  height: 100%;
  text-align: center;
}
.red .rook-card-inner {
  border-color: #f37070;
}
.green .rook-card-inner {
  border-color: #44efa2;
}
.yellow .rook-card-inner {
  border-color: #ffe441;
}
.black .rook-card-inner {
  border-color: #585858;
}
