// real typefaces

@font-face {
    font-family: 'Ultra';
    src: url('../fonts/Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// icon font

@font-face {
    font-family: 'Rookicons';
    src:url('../fonts/Rookicons.eot');
    src:url('../fonts/Rookicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rookicons.woff') format('woff'),
        url('../fonts/Rookicons.ttf') format('truetype'),
        url('../fonts/Rookicons.svg#Rookicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rookicon {
    font-family: 'Rookicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dice:before {
    content: "\e600";
}
